---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=austin,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 20 Jan 2021 10:20:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"austin,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Austin","adminArea5Type":"City","adminArea4":"Delta
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"283584610","unknownInput":"","type":"s","latLng":{"lat":38.781101,"lng":-107.950302},"displayLatLng":{"lat":38.781101,"lng":-107.950302},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=38.781101,-107.950302|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1712252992"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Austin
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932582","unknownInput":"","type":"s","latLng":{"lat":29.950489,"lng":-96.257671},"displayLatLng":{"lat":29.950489,"lng":-96.257671},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=29.950489,-96.257671|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1744582662"}]}]}'
  recorded_at: Wed, 20 Jan 2021 10:20:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&lat=38.781101&lon=-107.950302&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.7811,"lon":-107.9503,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611138022,"sunrise":1611152765,"sunset":1611188366,"temp":27.97,"feels_like":20.64,"pressure":1029,"humidity":59,"dew_point":16.88,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":77,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1611136800,"temp":27.97,"feels_like":20.64,"pressure":1029,"humidity":59,"dew_point":16.88,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":77,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1611140400,"temp":28.45,"feels_like":21.52,"pressure":1031,"humidity":73,"dew_point":21.78,"uvi":0,"clouds":57,"visibility":10000,"wind_speed":3.58,"wind_deg":81,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1611144000,"temp":28.53,"feels_like":22.42,"pressure":1033,"humidity":81,"dew_point":24.03,"uvi":0,"clouds":38,"visibility":10000,"wind_speed":2.57,"wind_deg":112,"weather":[{"id":802,"main":"Clouds","description":"scattered[...]
