---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_API_KEY>&location=austin,tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 20 Jan 2021 10:20:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"austin,tx"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Austin","adminArea5Type":"City","adminArea4":"Travis
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038951","unknownInput":"","type":"s","latLng":{"lat":30.264979,"lng":-97.746598},"displayLatLng":{"lat":30.264979,"lng":-97.746598},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_API_KEY>&type=map&size=225,160&locations=30.264979,-97.746598|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1705085765"}]}]}'
  recorded_at: Wed, 20 Jan 2021 10:20:14 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API>&lat=30.264979&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611138014,"sunrise":1611149211,"sunset":1611187021,"temp":48.33,"feels_like":42.75,"pressure":1028,"humidity":71,"dew_point":39.38,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":5.75,"wind_deg":20,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1611136800,"temp":48.33,"feels_like":41.92,"pressure":1028,"humidity":71,"dew_point":39.38,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":7.2,"wind_deg":19,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1611140400,"temp":49.73,"feels_like":43.97,"pressure":1028,"humidity":76,"dew_point":42.48,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":7.18,"wind_deg":10,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1611144000,"temp":50.63,"feels_like":45.07,"pressure":1027,"humidity":79,"dew_point":44.37,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":7.54,"wind_deg":13,"weather":[{"id":804,"main":"Clouds","description":"overcast[...]
